.navbar {
    position: fixed;
    top: 0;
    left: -91vw;

    width: 90vw;
    height: 100vh;
    padding: 15px 0 15px 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    opacity: 0;
    background-color: #B51D44;
    transition: left .4s, opacity .5s;
}

.navbar__close {
    position: absolute;
    top: 0px;
    right: 20px;

    font-family: Poppins-Thin;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.exibeNavbar {
    left: 0 !important;
    opacity: 1;
}