.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerpage{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    width: 170px;
    height: 40px;
}

.headerpage__menubar{
    cursor: pointer;
}

