@tailwind base;
@tailwind components;
@font-face {
  font-family: Poppins-Bold;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@tailwind utilities;

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #007ced;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #005fa3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
