@font-face {
    font-family: Comfortaa;
    src: url(../../Assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../Assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../../Assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}



.title{
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: bold;
    color: #011126;
}

.paragraph{
    font-family: OpenSans;
    font-size: 21px;
    font-weight: 400;
    color: #011126;
}

@media screen and (min-width : 1024px){
    .title{
        font-size: 50px;
    }
    
    .paragraph{
        font-size: 30px;
    }
}